
@{
    ViewBag.Title = "Account";
}

<div class="jumbotron">
    <h1>Welcome @ViewBag.User!</h1>

</div>

<div class="row">
    <center>
        <input type="button" class=" btn btn-block" value="View News" onclick="location.href='@Url.Action("ViewNews", "Student")'" />
        <br />
        <input type="button" class=" btn btn-block" value="View Events" onclick="location.href='@Url.Action("ViewEvents", "Student")'" />


    </center>
</div>

