@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart School Web Portal</h1>
    
</div>

<div class="row">
    <h1 style="text-align:center">Enter to Learn. Leave to Earn!</h1>
</div>